nav.navbar.main-nav
  position: absolute
  width: 100%
  padding: 0 1rem
  background-color: transparent

  .container
    padding: 0 15px

  .navbar-brand
    padding-top: 2.48rem
    padding-bottom: 2.48rem

nav.navbar.nav--full-color

nav.navbar.nav--white
  a
    color: $white

  a:hover,
  a:active,
  a:focus
    color: darken($teal, 20%)

@media screen and (max-width: $md-pixels)
  nav.navbar.main-nav
    padding: 0

    .navbar-brand
      width: 100%

    .navbar-brand-image
      display: block
      margin: 0 auto
      max-width: 100%

    .navbar-toggler
      display: inline-block
      margin: 0 auto
